body {
  background-color: #8d8bfc;
  width: 50%;
  margin-left: 20%;
  padding-left: 10%;
padding-top: 5%; 
text-align: justify;
}

a {
  -webkit-text-fill-color: #ffe5d6
}

h3 {
  font-family: Lucida, sans-serif;
  -webkit-text-fill-color: #ffe5d6
}
section {
  padding-bottom: 5%;
  width: 100%;
}

p{
  
}
ul{
  list-style: lower-greek;
  text-align: left;
}

li{
  padding-bottom: 2%;
}



.rowe{
  /* display: grid; */
  display: flex;
}

.rowe img {
 padding:1%;
  height: auto;
  object-fit: cover;
}

.parent {
  display: flex;
  
  width: 100%;
}

figure {
  flex: 1;
  max-width: 100%;
  height: auto;
  margin: 5px;
}

.row{
  display: flex;
}

.row img{
max-width: 100%;
}

.column2 {
  /* float:left;
  width: 50%; */
  /* border-style: solid;
  border-color: #03846a; */
}
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.column2 img{
  /* width:100%; */
  /* padding-right: 2%; */
}

.sidenav {
  height: 100%;
  min-width: 150px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;

  overflow-x: hidden; 
  padding-top: 5%; 
  line-height: 1.5;
  border-style: none solid none none;
  border-color: #ffe5d6;
  background-color: #03846a;
}



 .sidenav a {
  padding-left: 20%;
  text-decoration: none;
  font-family: Lucida, sans-serif;
  font-size: h3;
  -webkit-text-fill-color: #ffe5d6;
  display: block;
  font-size: small;
}

.sidenav a:hover{
  -webkit-text-fill-color: #8d8bfc;
}



.banner{
  border-style: solid;
  width: 100%;
}
.usual{
  width: 100%;
}

.usualp{
  width: 100%;
  padding-bottom: 2%;
}



.foot{
  padding-left: 20%;
  text-decoration: none;
  font-family: Lucida, sans-serif;
  font-size: h3;
  color: #818181;
  display: block;
  position: absolute;
  bottom: 15%;
}

